<%- include('../partials/head') %>
</head>
<body>
    <div class="container">
        <%- include('../partials/nav') %>
        </div>
        <div class="result_lower">
            <p class="result_para">SignUp Page</p>
            <div class="result_inner">
                <form action="/sign-up" method="POST">
                    <div class="form_inside">
                        <input type="text" class="result_text" name="firstName" placeholder="First Name" required>
                        <input type="text" class="result_text" name="lastName" placeholder="Last Name">
                        <input type="email" class="result_text" name="email" placeholder="test@gmail.com" required>
                        <input type="password" class="result_text" name="password" placeholder="Password" required>
                        <input type="password" class="result_text" name="confirm password" placeholder="Confirm Password" required>
                        <div>
                            <input type="radio" id="student" name="role" value="student" checked>
                            <label for="student" style="margin-right: 2rem; font-size: 18px; cursor: pointer;">Student</label>
                            <input type="radio" id="teacher" name="role" value="teacher">
                            <label for="teacher" style="font-size: 18px; cursor: pointer;">Teacher</label>
                        </div>
                        <button type="submit" class="error_button" style="background-color: rgb(95, 199, 244);border: none;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>