<div class="nav_box">
    <div class="left">
        <a href="/home" class="r1">home</a>
        <a href="/add-result" class="r1">add result</a>
        <a href="/login" class="r1">login</a>
    </div>
    <div class="right">
        <div id="r2">Result Portal</div>
    </div>