<div class="nav_box">
    <div class="left">
        <a href="/" class="r1">dashboard</a>
        <a href="/add-result" class="r1">add result</a>
        <a href="/view-result" class="r1">view result</a>
        <a href="/download" class="r1">download</a>
        <a href="/sign-up" class="r1">SignUp</a>
        <a href="/login" class="r1">login</a>
    </div>
    <div class="right">
        <div id="r2">Result Portal</div>
    </div>