<%- include('..partials/head') %>
</head>
<body>
    <div class="container">
        <%- include('..partials/nav') %>
        </div>
        <div class="lower_box">
            <div class="content">
                Welcome to the Result Portal
            </div>
        </div>
    </div>
</body>
</html>