<%- include('../partials/head') %>
</head>
<body>
    <div class="container">
        <%- include('../partials/nav') %>
        </div>
        <div class="result_lower">
            <p class="result_para">Enter the number of students in class</p>
            <div class="result_inner">
                <form action="/batch" method="POST">
                    <div class="form_inside">
                        <input type="text" class="result_text" name="className" placeholder="Class Name" required>
                        <input type="number" class="result_text" name="students" placeholder="No.of students" required>
                        <input type="text" class="result_text" name="subjectList" placeholder="Subjects (comma separated)" required>
                        <button type="submit" class="error_button" style="background-color: rgb(95, 199, 244);border: none;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>